<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
     <title>Мое увлечение</title>
    <link rel="stylesheet" href="{% static 'css/hobby.css' %}"/>
    <meta charset="UTF-8">
</head>

<body>
    <header></header>
    <nav></nav>
   <div class="header">
            <div class="logo-container">
                <h1>Моё хобби</h1>
            <ul class="navigation">
                <a href="{% url 'my_hobby' %} "><li>Главная</li></a>
                <a href="{% url 'about_me' %}"><li>Обо мне</li></a>
                <a href="{% url 'my_contact' %}"><li>Обратная связь</li></a>
            </ul>
            <br>
            </div>

</div>
<div class="content">
    <div class="container">

                     {% block content %}
                    {{ flatpage.content }}
                    {% endblock content %}
</div>
</div>

</body>
</html>