{% extends 'flatpages/default.html' %}
{% load static %}
{% block title %}
About me
{% endblock title %}
{% block content %}
<h1>Ремескевич Олег/22</h1>

    <p><img
            src="static/images/me.png" alt="Я в Сочи" align="left">Салют! Меня зовут Олег, мне 22.
        <br>
        Люблю спорт, книги, людей, прогулки под солнцем, и конечно, программирование.
        <br>
        Выучился на юриста, но понял что это не то, чем хочу заниматься.
        <br>
        Поэтому сейчас прохожу курсы на skillfactory и в будущем планирую работать программистом.</p>

{% endblock %}

